PORT=8080

DATABASE_URL=jdbc:postgresql://ep-super-hall-acc50ynv-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=change-me
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# REDIS_HOST=
# REDIS_PORT=6379
# REDIS_PASSWORD=
